be/n8n-workflows/deal-processor-webhook.json
{
    "name": "LinkGenie - Deal Processor (Webhook)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "process-deal",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ],
            "webhookId": "process-deal"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.VITE_SUPABASE_URL }}/functions/v1/check-duplicate",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"url\": \"{{ $json.body.url }}\",\n  \"hours\": 24\n}",
                "options": {}
            },
            "id": "check-duplicate",
            "name": "Check Duplicate",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "supabase-auth",
                    "name": "Supabase Auth"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.is_duplicate }}",
                            "value2": false
                        }
                    ]
                }
            },
            "id": "if-not-duplicate",
            "name": "If Not Duplicate",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.VITE_SUPABASE_URL }}/functions/v1/scrape-product",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"url\": \"{{ $('Webhook').item.json.body.url }}\"\n}",
                "options": {}
            },
            "id": "scrape-product",
            "name": "Scrape Product",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                220
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "supabase-auth",
                    "name": "Supabase Auth"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "quality-check-1",
                            "leftValue": "={{ $json.success }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "quality-gate",
            "name": "If Scraped Successfully",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1120,
                220
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.VITE_SUPABASE_URL }}/functions/v1/monetize-link",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"url\": \"{{ $('Webhook').item.json.body.url }}\",\n  \"subid\": \"auto_telegram_{{ $now.format('YYYYMMDDHHmmss') }}\"\n}",
                "options": {}
            },
            "id": "monetize-link",
            "name": "Monetize Link",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1340,
                140
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "supabase-auth",
                    "name": "Supabase Auth"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Get product data\nconst productData = $('Scrape Product').first().json.data;\nconst monetizedLink = $('Monetize Link').first().json.affiliate_url;\n\n// Extract prices\nconst currentPriceStr = productData.currentPrice.replace(/[^0-9.]/g, '');\nconst originalPriceStr = productData.originalPrice.replace(/[^0-9.]/g, '');\nconst currentPrice = parseFloat(currentPriceStr) || 0;\nconst originalPrice = parseFloat(originalPriceStr) || currentPrice;\n\n// Calculate discount\nconst discount = originalPrice > currentPrice \n  ? Math.round(((originalPrice - currentPrice) / originalPrice) * 100)\n  : 0;\n\n// Create Telegram-formatted HTML post\nconst title = productData.title;\n\nconst telegramPost = `<b>${title}</b>\\n\\n` +\n  `🔥 <b>Deal Alert!</b>\\n` +\n  (discount > 0 \n    ? `💰 Only <b>₹${currentPrice.toLocaleString('en-IN')}</b> <s>₹${originalPrice.toLocaleString('en-IN')}</s> (${discount}% OFF)\\n\\n` \n    : `💰 Price: <b>₹${currentPrice.toLocaleString('en-IN')}</b>\\n\\n`) +\n  `👇 Grab it now:\\n` +\n  `<a href=\"${monetizedLink}\">👉 CLICK HERE TO BUY</a>`;\n\nreturn {\n  json: {\n    message: telegramPost,\n    image_url: productData.image,\n    product_data: productData,\n    affiliate_url: monetizedLink,\n    original_url: $('Webhook').item.json.body.url\n  }\n};"
            },
            "id": "format-post",
            "name": "Format Telegram Post",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1560,
                140
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $env.TELEGRAM_CHANNEL_ID }}",
                "text": "={{ $json.message }}",
                "additionalFields": {
                    "parse_mode": "HTML",
                    "disable_web_page_preview": false
                }
            },
            "id": "send-telegram",
            "name": "Send to Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1,
            "position": [
                1780,
                140
            ],
            "credentials": {
                "telegramApi": {
                    "id": "telegram-bot",
                    "name": "Telegram Bot"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.VITE_SUPABASE_URL }}/rest/v1/discovered_links",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"url\": \"{{ $json.original_url }}\",\n  \"url_hash\": \"{{ $('Check Duplicate').first().json.url_hash }}\",\n  \"source\": \"webhook\",\n  \"status\": \"posted\",\n  \"product_data\": {{ JSON.stringify($json.product_data) }},\n  \"affiliate_url\": \"{{ $json.affiliate_url }}\",\n  \"posted_to_channels\": [\"telegram_main\"]\n}",
                "options": {}
            },
            "id": "log-database",
            "name": "Log to Database",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2000,
                140
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "supabase-auth",
                    "name": "Supabase Auth"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"message\": \"Deal processed and posted to Telegram\",\n  \"telegram_channel\": \"{{ $env.TELEGRAM_CHANNEL_ID }}\",\n  \"product\": \"{{ $('Scrape Product').first().json.data.title }}\"\n}",
                "options": {}
            },
            "id": "respond-success",
            "name": "Respond Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2220,
                140
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": false,\n  \"reason\": \"duplicate\",\n  \"message\": \"This product was already posted in the last 24 hours\"\n}",
                "options": {}
            },
            "id": "respond-duplicate",
            "name": "Respond Duplicate",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                900,
                380
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": false,\n  \"reason\": \"scraping_failed\",\n  \"message\": \"Failed to scrape product details\"\n}",
                "options": {}
            },
            "id": "respond-failed",
            "name": "Respond Failed",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1340,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Check Duplicate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Duplicate": {
            "main": [
                [
                    {
                        "node": "If Not Duplicate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Not Duplicate": {
            "main": [
                [
                    {
                        "node": "Scrape Product",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Duplicate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Scrape Product": {
            "main": [
                [
                    {
                        "node": "If Scraped Successfully",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Scraped Successfully": {
            "main": [
                [
                    {
                        "node": "Monetize Link",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Failed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Monetize Link": {
            "main": [
                [
                    {
                        "node": "Format Telegram Post",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Telegram Post": {
            "main": [
                [
                    {
                        "node": "Send to Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Telegram": {
            "main": [
                [
                    {
                        "node": "Log to Database",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log to Database": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2026-01-26T16:30:00.000Z",
    "versionId": "2"
}