be/n8n-workflows/deal-discovery.json
{
    "name": "LinkGenie - Deal Discovery & Distribution",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "*/30 * * * *"
                        }
                    ]
                }
            },
            "name": "Every 30 Minutes",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ],
            "id": "cron-trigger"
        },
        {
            "parameters": {
                "url": "https://www.amazon.in/gp/rss/bestsellers/electronics/ref=zg_bs_pg_1?ie=UTF8&pg=1",
                "options": {}
            },
            "name": "Fetch Amazon RSS",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                460,
                300
            ],
            "id": "rss-reader"
        },
        {
            "parameters": {
                "url": "={{ $json.link }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $credentials.supabaseKey }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "url",
                            "value": "={{ $json.link }}"
                        },
                        {
                            "name": "hours",
                            "value": "24"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Check Duplicate",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                680,
                300
            ],
            "id": "check-duplicate",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "supabase-creds",
                    "name": "Supabase Auth"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.is_duplicate }}",
                            "value2": false
                        }
                    ]
                }
            },
            "name": "If Not Duplicate",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                900,
                300
            ],
            "id": "if-not-duplicate"
        },
        {
            "parameters": {
                "url": "={{ $env.VITE_SUPABASE_URL }}/functions/v1/scrape-product",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.VITE_SUPABASE_PUBLISHABLE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "url",
                            "value": "={{ $json.link }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Scrape Product",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1120,
                220
            ],
            "id": "scrape-product"
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.data.discount_percent }}",
                            "operation": "larger",
                            "value2": 10
                        }
                    ],
                    "boolean": [
                        {
                            "value1": "={{ $json.data.in_stock }}",
                            "value2": true
                        }
                    ]
                },
                "combineOperation": "all"
            },
            "name": "Quality Gate",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1340,
                220
            ],
            "id": "quality-gate"
        },
        {
            "parameters": {
                "url": "={{ $env.VITE_SUPABASE_URL }}/functions/v1/monetize-link",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.VITE_SUPABASE_PUBLISHABLE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "url",
                            "value": "={{ $json.link }}"
                        },
                        {
                            "name": "subid",
                            "value": "auto_telegram_{{ $now.format('YYYYMMDDHHmmss') }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Monetize Link",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1560,
                140
            ],
            "id": "monetize-link"
        },
        {
            "parameters": {
                "jsCode": "// Get product data from scrape-product node\nconst productData = $input.first().json.data;\nconst monetizedLink = $('Monetize Link').first().json.affiliate_url;\n\n// Create Telegram-formatted HTML post\nconst title = productData.title;\nconst discount = Math.round(((productData.original_price - productData.current_price) / productData.original_price) * 100);\nconst finalPrice = productData.current_price;\nconst originalPrice = productData.original_price;\n\nconst telegramPost = `<b>${title}</b>\\n\\n` +\n  `🔥 <b>Deal Alert!</b>\\n` +\n  (discount > 0 \n    ? `💰 Only <b>₹${finalPrice.toLocaleString('en-IN')}</b> <s>₹${originalPrice.toLocaleString('en-IN')}</s> (${discount}% OFF)\\n\\n` \n    : `💰 Price: <b>₹${finalPrice.toLocaleString('en-IN')}</b>\\n\\n`) +\n  `👇 Grab it now:\\n` +\n  `<a href=\"${monetizedLink}\">👉 CLICK HERE TO BUY</a>`;\n\nreturn {\n  json: {\n    message: telegramPost,\n    image_url: productData.image,\n    product_data: productData,\n    affiliate_url: monetizedLink\n  }\n};"
            },
            "name": "Format Telegram Post",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1780,
                140
            ],
            "id": "format-post"
        },
        {
            "parameters": {
                "chatId": "={{ $env.TELEGRAM_CHANNEL_ID }}",
                "text": "={{ $json.message }}",
                "additionalFields": {
                    "parse_mode": "HTML",
                    "disable_web_page_preview": false
                }
            },
            "name": "Send to Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                2000,
                140
            ],
            "id": "send-telegram",
            "credentials": {
                "telegramApi": {
                    "id": "telegram-bot",
                    "name": "Telegram Bot"
                }
            }
        },
        {
            "parameters": {
                "url": "={{ $env.VITE_SUPABASE_URL }}/rest/v1/discovered_links",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.VITE_SUPABASE_PUBLISHABLE_KEY }}"
                        },
                        {
                            "name": "apikey",
                            "value": "={{ $env.VITE_SUPABASE_PUBLISHABLE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"url\": \"{{ $('Scrape Product').first().json.link }}\",\n  \"url_hash\": \"{{ $('Check Duplicate').first().json.url_hash }}\",\n  \"source\": \"amazon_rss\",\n  \"status\": \"posted\",\n  \"product_data\": {{ $json.product_data }},\n  \"affiliate_url\": \"{{ $json.affiliate_url }}\",\n  \"posted_to_channels\": [\"telegram_main\"]\n}",
                "options": {}
            },
            "name": "Log to Database",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2220,
                140
            ],
            "id": "log-database"
        },
        {
            "parameters": {
                "url": "={{ $env.VITE_SUPABASE_URL }}/functions/v1/log-workflow",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.VITE_SUPABASE_PUBLISHABLE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "workflow_name",
                            "value": "deal-discovery"
                        },
                        {
                            "name": "status",
                            "value": "success"
                        },
                        {
                            "name": "deals_found",
                            "value": "={{ $('Fetch Amazon RSS').all().length }}"
                        },
                        {
                            "name": "deals_posted",
                            "value": "={{ $('Send to Telegram').all().length }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Log Workflow Success",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2440,
                140
            ],
            "id": "log-success"
        }
    ],
    "connections": {
        "Every 30 Minutes": {
            "main": [
                [
                    {
                        "node": "Fetch Amazon RSS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Amazon RSS": {
            "main": [
                [
                    {
                        "node": "Check Duplicate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Duplicate": {
            "main": [
                [
                    {
                        "node": "If Not Duplicate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Not Duplicate": {
            "main": [
                [
                    {
                        "node": "Scrape Product",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Scrape Product": {
            "main": [
                [
                    {
                        "node": "Quality Gate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Quality Gate": {
            "main": [
                [
                    {
                        "node": "Monetize Link",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Monetize Link": {
            "main": [
                [
                    {
                        "node": "Format Telegram Post",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Telegram Post": {
            "main": [
                [
                    {
                        "node": "Send to Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Telegram": {
            "main": [
                [
                    {
                        "node": "Log to Database",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log to Database": {
            "main": [
                [
                    {
                        "node": "Log Workflow Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2026-01-26T16:00:00.000Z",
    "versionId": "1"
}