be/n8n-workflows/production-workflow.json
{
    "name": "LinkGenie - Deal Automation with Duplicate Check",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "deal",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "deal"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://nsfftuhsrjzxfmepfvmk.supabase.co/functions/v1/check-duplicate",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zZmZ0dWhzcmp6eGZtZXBmdm1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk0MjIzMjcsImV4cCI6MjA4NDk5ODMyN30.rxmAjFVfPQaCTeNQvrtb7ZURnpY6eB5UsN1pcj3Xh5A"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"url\": \"{{ $json.body.url }}\",\n  \"hours\": 24\n}",
                "options": {}
            },
            "id": "check-dup",
            "name": "Check Duplicate",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "not-dup",
                            "leftValue": "={{ $json.is_duplicate }}",
                            "rightValue": false,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-not-dup",
            "name": "If Not Duplicate",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "url",
                            "name": "url",
                            "value": "={{ $('Webhook Trigger').item.json.body.url }}",
                            "type": "string"
                        },
                        {
                            "id": "url_hash",
                            "name": "url_hash",
                            "value": "={{ $('Check Duplicate').first().json.url_hash }}",
                            "type": "string"
                        },
                        {
                            "id": "success",
                            "name": "success",
                            "value": true,
                            "type": "boolean"
                        },
                        {
                            "id": "data",
                            "name": "data",
                            "value": "={{ {\n  \"title\": \"Samsung Galaxy S24 Ultra 5G (Titanium Gray, 12GB, 256GB Storage)\",\n  \"currentPrice\": \"₹84999\",\n  \"originalPrice\": \"₹129999\",\n  \"image\": \"https://m.media-amazon.com/images/I/71V9hJE8u6L._SL1500_.jpg\"\n} }}",
                            "type": "object"
                        }
                    ]
                },
                "options": {}
            },
            "id": "mock-data",
            "name": "Mock Product Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.3,
            "position": [
                900,
                220
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://nsfftuhsrjzxfmepfvmk.supabase.co/functions/v1/monetize-link",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zZmZ0dWhzcmp6eGZtZXBmdm1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk0MjIzMjcsImV4cCI6MjA4NDk5ODMyN30.rxmAjFVfPQaCTeNQvrtb7ZURnpY6eB5UsN1pcj3Xh5A"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"subid\": \"auto_{{ $now.format('YYYYMMDDHHmmss') }}\"\n}",
                "options": {}
            },
            "id": "monetize",
            "name": "Monetize Link",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1120,
                220
            ]
        },
        {
            "parameters": {
                "jsCode": "const mockData = $('Mock Product Data').first().json;\nconst monetizeData = $('Monetize Link').first().json;\n\nconst product = mockData.data;\nconst affiliateLink = monetizeData.affiliate_url || mockData.url;\nconst urlHash = mockData.url_hash;\n\nconst currentPriceStr = (product.currentPrice || '0').replace(/[^0-9.]/g, '');\nconst originalPriceStr = (product.originalPrice || '0').replace(/[^0-9.]/g, '');\nconst currentPrice = parseFloat(currentPriceStr) || 0;\nconst originalPrice = parseFloat(originalPriceStr) || currentPrice;\n\nconst discount = originalPrice > currentPrice \n  ? Math.round(((originalPrice - currentPrice) / originalPrice) * 100)\n  : 0;\n\nconst title = product.title;\nconst message = `<b>${title}</b>\\n\\n` +\n  `🔥 <b>Deal Alert!</b>\\n` +\n  (discount > 0 \n    ? `💰 Only <b>₹${currentPrice.toLocaleString('en-IN')}</b> <s>₹${originalPrice.toLocaleString('en-IN')}</s> (${discount}% OFF)\\n\\n` \n    : `💰 Price: <b>₹${currentPrice.toLocaleString('en-IN')}</b>\\n\\n`) +\n  `👇 Grab it now:\\n` +\n  `<a href=\"${affiliateLink}\">👉 CLICK HERE TO BUY</a>`;\n\nreturn {\n  json: {\n    chat_id: '@deals_fiesta',\n    text: message,\n    parse_mode: 'HTML',\n    disable_web_page_preview: false,\n    url: mockData.url,\n    url_hash: urlHash,\n    affiliate_url: affiliateLink,\n    product_data: product\n  }\n};"
            },
            "id": "format",
            "name": "Format Message",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1340,
                220
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $json.chat_id }}",
                "text": "={{ $json.text }}",
                "additionalFields": {
                    "parse_mode": "HTML",
                    "disable_web_page_preview": false
                }
            },
            "id": "telegram",
            "name": "Post to Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1560,
                220
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://nsfftuhsrjzxfmepfvmk.supabase.co/rest/v1/discovered_links",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zZmZ0dWhzcmp6eGZtZXBmdm1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk0MjIzMjcsImV4cCI6MjA4NDk5ODMyN30.rxmAjFVfPQaCTeNQvrtb7ZURnpY6eB5UsN1pcj3Xh5A"
                        },
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zZmZ0dWhzcmp6eGZtZXBmdm1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk0MjIzMjcsImV4cCI6MjA4NDk5ODMyN30.rxmAjFVfPQaCTeNQvrtb7ZURnpY6eB5UsN1pcj3Xh5A"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"url_hash\": \"{{ $json.url_hash }}\",\n  \"source\": \"webhook\",\n  \"status\": \"posted\",\n  \"product_data\": {{ JSON.stringify($json.product_data) }},\n  \"affiliate_url\": \"{{ $json.affiliate_url }}\",\n  \"posted_to_channels\": [\"telegram_main\"]\n}",
                "options": {}
            },
            "id": "log-db",
            "name": "Log to Database",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1780,
                220
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://nsfftuhsrjzxfmepfvmk.supabase.co/functions/v1/log-workflow",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zZmZ0dWhzcmp6eGZtZXBmdm1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk0MjIzMjcsImV4cCI6MjA4NDk5ODMyN30.rxmAjFVfPQaCTeNQvrtb7ZURnpY6eB5UsN1pcj3Xh5A"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"workflow_name\": \"deal-automation\",\n  \"status\": \"success\",\n  \"deals_found\": 1,\n  \"deals_processed\": 1,\n  \"deals_posted\": 1,\n  \"deals_rejected\": 0\n}",
                "options": {}
            },
            "id": "log-workflow",
            "name": "Log Workflow Success",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2000,
                220
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "success",
                            "name": "success",
                            "value": true,
                            "type": "boolean"
                        },
                        {
                            "id": "message",
                            "name": "message",
                            "value": "Posted to Telegram successfully!",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "response-success",
            "name": "Return Success",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.3,
            "position": [
                2220,
                220
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://nsfftuhsrjzxfmepfvmk.supabase.co/functions/v1/log-workflow",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zZmZ0dWhzcmp6eGZtZXBmdm1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk0MjIzMjcsImV4cCI6MjA4NDk5ODMyN30.rxmAjFVfPQaCTeNQvrtb7ZURnpY6eB5UsN1pcj3Xh5A"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"workflow_name\": \"deal-automation\",\n  \"status\": \"failed\",\n  \"deals_found\": 1,\n  \"deals_processed\": 0,\n  \"deals_posted\": 0,\n  \"deals_rejected\": 1,\n  \"error_log\": {\"reason\": \"duplicate_url\"}\n}",
                "options": {}
            },
            "id": "log-dup",
            "name": "Log Duplicate Rejected",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                900,
                380
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "success",
                            "name": "success",
                            "value": false,
                            "type": "boolean"
                        },
                        {
                            "id": "reason",
                            "name": "reason",
                            "value": "duplicate",
                            "type": "string"
                        },
                        {
                            "id": "message",
                            "name": "message",
                            "value": "This product was already posted in the last 24 hours",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "response-dup",
            "name": "Return Duplicate",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.3,
            "position": [
                1120,
                380
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Check Duplicate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Duplicate": {
            "main": [
                [
                    {
                        "node": "If Not Duplicate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Not Duplicate": {
            "main": [
                [
                    {
                        "node": "Mock Product Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Log Duplicate Rejected",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mock Product Data": {
            "main": [
                [
                    {
                        "node": "Monetize Link",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Monetize Link": {
            "main": [
                [
                    {
                        "node": "Format Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Message": {
            "main": [
                [
                    {
                        "node": "Post to Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Post to Telegram": {
            "main": [
                [
                    {
                        "node": "Log to Database",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log to Database": {
            "main": [
                [
                    {
                        "node": "Log Workflow Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Workflow Success": {
            "main": [
                [
                    {
                        "node": "Return Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Duplicate Rejected": {
            "main": [
                [
                    {
                        "node": "Return Duplicate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2026-01-27T17:30:00.000Z",
    "versionId": "6"
}