be/n8n-workflows/test-with-mock.json
{
    "name": "LinkGenie - Test with Mock Data",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "deal-mock",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-mock",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "deal-mock"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "url",
                            "name": "url",
                            "value": "={{ $json.body.url }}",
                            "type": "string"
                        },
                        {
                            "id": "success",
                            "name": "success",
                            "value": true,
                            "type": "boolean"
                        },
                        {
                            "id": "data",
                            "name": "data",
                            "value": "={{ {\n  \"title\": \"Samsung Galaxy S24 Ultra 5G (Titanium Gray, 12GB, 256GB Storage)\",\n  \"currentPrice\": \"₹84999\",\n  \"originalPrice\": \"₹129999\",\n  \"image\": \"https://m.media-amazon.com/images/I/71V9hJE8u6L._SL1500_.jpg\"\n} }}",
                            "type": "object"
                        }
                    ]
                },
                "options": {}
            },
            "id": "mock-data",
            "name": "Mock Product Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.3,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://nsfftuhsrjzxfmepfvmk.supabase.co/functions/v1/monetize-link",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zZmZ0dWhzcmp6eGZtZXBmdm1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk0MjIzMjcsImV4cCI6MjA4NDk5ODMyN30.rxmAjFVfPQaCTeNQvrtb7ZURnpY6eB5UsN1pcj3Xh5A"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"subid\": \"test_{{ $now.format('YYYYMMDDHHmmss') }}\"\n}",
                "options": {}
            },
            "id": "monetize-mock",
            "name": "Monetize Link",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const mockData = $('Mock Product Data').first().json;\nconst monetizeData = $('Monetize Link').first().json;\n\nconst product = mockData.data;\nconst affiliateLink = monetizeData.affiliate_url || mockData.url;\n\nconst currentPriceStr = (product.currentPrice || '0').replace(/[^0-9.]/g, '');\nconst originalPriceStr = (product.originalPrice || '0').replace(/[^0-9.]/g, '');\nconst currentPrice = parseFloat(currentPriceStr) || 0;\nconst originalPrice = parseFloat(originalPriceStr) || currentPrice;\n\nconst discount = originalPrice > currentPrice \n  ? Math.round(((originalPrice - currentPrice) / originalPrice) * 100)\n  : 0;\n\nconst title = product.title;\nconst message = `<b>${title}</b>\\n\\n` +\n  `🔥 <b>Deal Alert!</b>\\n` +\n  (discount > 0 \n    ? `💰 Only <b>₹${currentPrice.toLocaleString('en-IN')}</b> <s>₹${originalPrice.toLocaleString('en-IN')}</s> (${discount}% OFF)\\n\\n` \n    : `💰 Price: <b>₹${currentPrice.toLocaleString('en-IN')}</b>\\n\\n`) +\n  `👇 Grab it now:\\n` +\n  `<a href=\"${affiliateLink}\">👉 CLICK HERE TO BUY</a>`;\n\nreturn {\n  json: {\n    chat_id: '@deals_fiesta',\n    text: message,\n    parse_mode: 'HTML',\n    disable_web_page_preview: false\n  }\n};"
            },
            "id": "format-mock",
            "name": "Format Message",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $json.chat_id }}",
                "text": "={{ $json.text }}",
                "additionalFields": {
                    "parse_mode": "HTML",
                    "disable_web_page_preview": false
                }
            },
            "id": "telegram-mock",
            "name": "Post to Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1120,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "success",
                            "name": "success",
                            "value": true,
                            "type": "boolean"
                        },
                        {
                            "id": "message",
                            "name": "message",
                            "value": "Posted to Telegram successfully!",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "response-mock",
            "name": "Return Success",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.3,
            "position": [
                1340,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Mock Product Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mock Product Data": {
            "main": [
                [
                    {
                        "node": "Monetize Link",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Monetize Link": {
            "main": [
                [
                    {
                        "node": "Format Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Message": {
            "main": [
                [
                    {
                        "node": "Post to Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Post to Telegram": {
            "main": [
                [
                    {
                        "node": "Return Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2026-01-26T17:20:00.000Z",
    "versionId": "5"
}