be/n8n-workflows/working-no-env.json
{
    "name": "LinkGenie - Deal Automation (No Env Vars)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "deal",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-node",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "deal"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://nsfftuhsrjzxfmepfvmk.supabase.co/functions/v1/scrape-product",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zZmZ0dWhzcmp6eGZtZXBmdm1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk0MjIzMjcsImV4cCI6MjA4NDk5ODMyN30.rxmAjFVfPQaCTeNQvrtb7ZURnpY6eB5UsN1pcj3Xh5A"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"url\": \"{{ $json.body.url }}\"\n}",
                "options": {}
            },
            "id": "scrape-node",
            "name": "Scrape Product",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://nsfftuhsrjzxfmepfvmk.supabase.co/functions/v1/monetize-link",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zZmZ0dWhzcmp6eGZtZXBmdm1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk0MjIzMjcsImV4cCI6MjA4NDk5ODMyN30.rxmAjFVfPQaCTeNQvrtb7ZURnpY6eB5UsN1pcj3Xh5A"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"url\": \"{{ $('Webhook Trigger').first().json.body.url }}\",\n  \"subid\": \"auto_{{ $now.format('YYYYMMDDHHmmss') }}\"\n}",
                "options": {}
            },
            "id": "monetize-node",
            "name": "Monetize Link",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Get data from previous nodes\nconst webhookData = $('Webhook Trigger').first().json.body;\nconst scrapeData = $('Scrape Product').first().json;\nconst monetizeData = $('Monetize Link').first().json;\n\n// Check if scraping was successful\nif (!scrapeData.success || !scrapeData.data) {\n  throw new Error('Product scraping failed');\n}\n\nconst product = scrapeData.data;\nconst affiliateLink = monetizeData.affiliate_url || webhookData.url;\n\n// Extract and parse prices\nconst currentPriceStr = (product.currentPrice || '0').replace(/[^0-9.]/g, '');\nconst originalPriceStr = (product.originalPrice || '0').replace(/[^0-9.]/g, '');\nconst currentPrice = parseFloat(currentPriceStr) || 0;\nconst originalPrice = parseFloat(originalPriceStr) || currentPrice;\n\n// Calculate discount\nconst discount = originalPrice > currentPrice \n  ? Math.round(((originalPrice - currentPrice) / originalPrice) * 100)\n  : 0;\n\n// Create Telegram message with HTML formatting\nconst title = product.title || 'Product Deal';\nconst message = `<b>${title}</b>\\n\\n` +\n  `🔥 <b>Deal Alert!</b>\\n` +\n  (discount > 0 \n    ? `💰 Only <b>₹${currentPrice.toLocaleString('en-IN')}</b> <s>₹${originalPrice.toLocaleString('en-IN')}</s> (${discount}% OFF)\\n\\n` \n    : `💰 Price: <b>₹${currentPrice.toLocaleString('en-IN')}</b>\\n\\n`) +\n  `👇 Grab it now:\\n` +\n  `<a href=\"${affiliateLink}\">👉 CLICK HERE TO BUY</a>`;\n\nreturn {\n  json: {\n    chat_id: '@deals_fiesta',\n    text: message,\n    parse_mode: 'HTML',\n    disable_web_page_preview: false,\n    product_title: title,\n    affiliate_url: affiliateLink\n  }\n};"
            },
            "id": "format-node",
            "name": "Format Message",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $json.chat_id }}",
                "text": "={{ $json.text }}",
                "additionalFields": {
                    "parse_mode": "HTML",
                    "disable_web_page_preview": false
                }
            },
            "id": "telegram-node",
            "name": "Post to Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1120,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "success-field",
                            "name": "success",
                            "value": true,
                            "type": "boolean"
                        },
                        {
                            "id": "message-field",
                            "name": "message",
                            "value": "=Deal posted successfully to {{ $('Format Message').first().json.chat_id }}",
                            "type": "string"
                        },
                        {
                            "id": "product-field",
                            "name": "product",
                            "value": "={{ $('Format Message').first().json.product_title }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "response-node",
            "name": "Return Success",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.3,
            "position": [
                1340,
                300
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Scrape Product",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Scrape Product": {
            "main": [
                [
                    {
                        "node": "Monetize Link",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Monetize Link": {
            "main": [
                [
                    {
                        "node": "Format Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Message": {
            "main": [
                [
                    {
                        "node": "Post to Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Post to Telegram": {
            "main": [
                [
                    {
                        "node": "Return Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2026-01-26T17:10:00.000Z",
    "versionId": "4"
}