fe/n8n-workflows/1-TopicDiscovery.json
{
    "name": "Topic Discovery - Multi-Source (Google, HN, Dev.to, PH, Reddit)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "triggerAtHour": 9
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Daily Schedule (9AM)",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {},
            "id": "manual-trigger",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                100,
                460
            ]
        },
        {
            "parameters": {
                "url": "https://news.google.com/rss/search?q=(%22AI+tools%22+OR+%22DevOps%22+OR+%22Frontend%22+OR+%22Cybersecurity%22+OR+%22Open+Source%22+OR+%22System+Design%22+OR+%22Tech+Trends%22)+AND+%22developer%22&hl=en-US&gl=US&ceid=US:en",
                "responseFormat": "string",
                "options": {
                    "responsePropertyName": "data"
                }
            },
            "id": "fetch-google-news",
            "name": "Fetch Google News RSS",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                300,
                200
            ]
        },
        {
            "parameters": {
                "url": "https://hacker-news.firebaseio.com/v0/topstories.json?print=pretty",
                "options": {}
            },
            "id": "fetch-hn-ids",
            "name": "Fetch HN Top Stories",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                300,
                350
            ]
        },
        {
            "parameters": {
                "url": "https://dev.to/api/articles?tag=ai&top=1&per_page=10",
                "options": {}
            },
            "id": "fetch-devto",
            "name": "Fetch Dev.to Articles",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                300,
                500
            ]
        },
        {
            "parameters": {
                "url": "https://www.producthunt.com/feed",
                "responseFormat": "string",
                "options": {}
            },
            "id": "fetch-producthunt",
            "name": "Fetch Product Hunt",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                300,
                650
            ]
        },
        {
            "parameters": {
                "url": "https://www.reddit.com/r/MachineLearning/top.json?limit=10&t=day",
                "options": {
                    "responsePropertyName": "data"
                }
            },
            "id": "fetch-reddit",
            "name": "Fetch Reddit ML",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                300,
                800
            ]
        },
        {
            "parameters": {
                "jsCode": "const googleXML = $items(\"Fetch Google News RSS\")[0].json.data;\nconst devto = $items(\"Fetch Dev.to Articles\")[0].json;\nconst productHuntXML = $items(\"Fetch Product Hunt\")[0].json.data;\nconst redditData = $items(\"Fetch Reddit ML\")[0].json.data?.children || [];\n\nconst items = [];\n\n// 1. Parse Google News (RSS)\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\nlet match;\nwhile ((match = itemRegex.exec(googleXML)) !== null) {\n  const content = match[1];\n  const titleMatch = /<title>([\\s\\S]*?)<\\/title>/.exec(content);\n  const linkMatch = /<link>([\\s\\S]*?)<\\/link>/.exec(content);\n  if (titleMatch && linkMatch) {\n    items.push({\n      title: titleMatch[1].replace(/<!\\[CDATA\\[/g, '').replace(/\\]\\]>/g, ''),\n      link: linkMatch[1],\n      source: 'Google News'\n    });\n  }\n}\n\n// 2. Parse Dev.to (JSON)\nif (Array.isArray(devto)) {\n  devto.forEach(article => {\n    items.push({\n      title: article.title,\n      link: article.url,\n      source: 'Dev.to'\n    });\n  });\n}\n\n// 3. Parse Product Hunt (RSS)\nwhile ((match = itemRegex.exec(productHuntXML)) !== null) {\n  const content = match[1];\n  const titleMatch = /<title>([\\s\\S]*?)<\\/title>/.exec(content);\n  const linkMatch = /<link>([\\s\\S]*?)<\\/link>/.exec(content);\n  if (titleMatch && linkMatch) {\n    items.push({\n      title: titleMatch[1].replace(/<!\\[CDATA\\[/g, '').replace(/\\]\\]>/g, ''),\n      link: linkMatch[1],\n      source: 'Product Hunt'\n    });\n  }\n}\n\n// 4. Parse Reddit (JSON)\nif (Array.isArray(redditData)) {\n  redditData.forEach(post => {\n    items.push({\n      title: post.data.title,\n      link: 'https://reddit.com' + post.data.permalink,\n      source: 'Reddit'\n    });\n  });\n}\n\n// Limit to 50 items total to avoid token limits\nreturn { json: { newsItems: items.slice(0, 50) } };"
            },
            "id": "merge-sources",
            "name": "Merge & Parse All Sources",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash:generateContent?key=AIzaSyCF1wzdvVfkOFy-17PgQsH_BcZJZiZDtgs",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ {\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are an Expert Technical Editor. Review news items from multiple sources (Google, Reddit, Dev.to, ProductHunt) and identify high-value topics for software developers.\\n\\nDiscard general news, politics, financial markets, or duplicate stories.\\nKeep only technical news about tools, frameworks, security, or industry trends.\\n\\nInput News:\\n\" + JSON.stringify($json.newsItems) + \"\\n\\nOutput ONLY valid JSON with categorized topics:\\n{\\n  \\\"topics\\\": [\\n    {\\n      \\\"topic_title\\\": \\\"Clear, engaging title\\\",\\n      \\\"topic_description\\\": \\\"Description of the update/tool (2 sentences)\\\",\\n      \\\"source_url\\\": \\\"Original URL\\\",\\n      \\\"quality_score\\\": 85, // 0-100 relevance\\n      \\\"niche_category\\\": \\\"Category Name (Pick one: AI Tools, DevOps, Frontend, Cybersecurity, Open Source, System Design, Tech Trends)\\\"\\n    }\\n  ]\\n}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.4,\n    \"maxOutputTokens\": 8192\n  }\n} }}",
                "options": {}
            },
            "id": "gemini-filter",
            "name": "Gemini - Filter & Rank",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                850,
                500
            ]
        },
        {
            "parameters": {
                "jsCode": "const response = $input.first().json;\n\ntry {\n  if (!response?.candidates?.[0]?.content?.parts?.[0]?.text) {\n    return [];\n  }\n\n  let text = response.candidates[0].content.parts[0].text;\n  text = text.replace(/```json\\s*/g, '').replace(/```\\s*/g, '');\n  \n  const start = text.indexOf('{');\n  if (start === -1) return [];\n  \n  let count = 0, end = -1;\n  for (let i = start; i < text.length; i++) {\n    if (text[i] === '{') count++;\n    if (text[i] === '}') count--;\n    if (count === 0) { end = i; break; }\n  }\n  \n  if (end === -1) return [];\n  \n  const parsed = JSON.parse(text.substring(start, end + 1));\n  if (!parsed.topics || !Array.isArray(parsed.topics)) return [];\n  \n  return parsed.topics\n    .filter(t => t.topic_title && t.topic_description)\n    .map(t => ({ json: t }));\n} catch (e) {\n  console.error('Parse error:', e.message);\n  return [];\n}"
            },
            "id": "parse-gemini",
            "name": "Parse Filtered Topics",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1050,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:3000/api/topics",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"topic_title\": \"{{ $json.topic_title }}\",\n  \"topic_description\": \"{{ $json.topic_description }}\",\n  \"niche_category\": \"{{ $json.niche_category || 'AI productivity tools for developers' }}\",\n  \"quality_score\": {{ $json.quality_score || 75 }},\n  \"source_url\": \"{{ $json.source_url || '' }}\",\n  \"discovered_via\": \"multi_source_scraper\"\n}",
                "options": {}
            },
            "id": "save-topic",
            "name": "Save to Database",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1250,
                500
            ]
        }
    ],
    "connections": {
        "Daily Schedule (9AM)": {
            "main": [
                [
                    {
                        "node": "Fetch Google News RSS",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Fetch Dev.to Articles",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Fetch Product Hunt",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Fetch Reddit ML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Fetch Google News RSS",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Fetch Dev.to Articles",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Fetch Product Hunt",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Fetch Reddit ML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Google News RSS": {
            "main": [
                [
                    {
                        "node": "Merge & Parse All Sources",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Dev.to Articles": {
            "main": [
                [
                    {
                        "node": "Merge & Parse All Sources",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Product Hunt": {
            "main": [
                [
                    {
                        "node": "Merge & Parse All Sources",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Reddit ML": {
            "main": [
                [
                    {
                        "node": "Merge & Parse All Sources",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge & Parse All Sources": {
            "main": [
                [
                    {
                        "node": "Gemini - Filter & Rank",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini - Filter & Rank": {
            "main": [
                [
                    {
                        "node": "Parse Filtered Topics",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Filtered Topics": {
            "main": [
                [
                    {
                        "node": "Save to Database",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {}
}