fe/n8n-workflows/2-ContentGeneration.json
{
  "name": "Content Generation - On Topic Approval (Linked Image Gen)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "topic-approved",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Topic Approved",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "topic-approved"
    },
    {
      "parameters": {
        "jsCode": "// Extract topic data from webhook\nconst topicData = $input.first().json;\n\nreturn {\n  json: {\n    topicId: topicData.id,\n    topicTitle: topicData.topic_title,\n    topicKeywords: topicData.keywords || [],\n    targetAudience: topicData.target_audience || 'developers',\n    contentType: topicData.content_type || 'tutorial',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "parse-topic",
      "name": "Parse Topic Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash:generateContent?key=AIzaSyCF1wzdvVfkOFy-17PgQsH_BcZJZiZDtgs",
        "authentication": "none",
        "sendQuery": false,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are an expert Senior Technical Writer for a Developer Blog.\\n\\nWrite a comprehensive, deep-dive article about: {{ $json.topicTitle }}\\nCategory: {{ $json.topicCategory || 'Software Development' }}\\nTarget Audience: {{ $json.targetAudience }}\\nKeywords: {{ $json.topicKeywords.join(', ') }}\\n\\nREQUIREMENTS:\\n- Write 1500+ words of high-quality technical content\\n- Focus on {{ $json.topicCategory }}: Use industry-standard terminology\\n- Include code snippets where relevant (use ```language blocks)\\n- Structure with clear H2/H3 headings\\n- Include 'Pros & Cons' or 'Best Practices' section\\n- Tone: Professional, authoritative, yet accessible\\n\\nCRITICAL - JSON OUTPUT FORMAT:\\nYou MUST respond with ONLY valid JSON. No markdown wrapping the JSON itself.\\nUse single quotes inside content strings to avoid JSON breaking.\\n\\nOutput Structure:\\n{\\n  \\\"title\\\": \\\" SEO-optimized Title\\\",\\n  \\\"subtitle\\\": \\\"Engaging hook\\\",\\n  \\\"content\\\": \\\"Full article markdown. Use \\\\n for newlines.\\\",\\n  \\\"excerpt\\\": \\\"Unqiue summary (150 words)\\\",\\n  \\\"metaDescription\\\": \\\"SEO meta (160 chars)\\\",\\n  \\\"tags\\\": [\\\"tag1\\\", \\\"tag2\\\", \\\"tag3\\\"],\\n  \\\"readingTime\\\": 10,\\n  \\\"keyTakeaways\\\": [\\\"Point 1\\\", \\\"Point 2\\\", \\\"Point 3\\\"]\\n}\\n\\nGenerate only the JSON now.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"topP\": 0.8,\n    \"topK\": 40,\n    \"maxOutputTokens\": 8192\n  }\n}",
        "options": {}
      },
      "id": "generate-article",
      "name": "Generate Article (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 20000
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\ntry {\n  if (!response?.candidates?.[0]?.content?.parts?.[0]?.text) {\n    throw new Error('Invalid response');\n  }\n\n  const text = response.candidates[0].content.parts[0].text;\n  const topicData = $('Parse Topic Data').first().json;\n  \n  // Extract each field using regex\n  const extract = (field) => {\n    const re = new RegExp('\"' + field + '\"\\\\s*:\\\\s*\"([\\\\s\\\\S]*?)\"\\\\s*[,}]');\n    const m = text.match(re);\n    return m ? m[1].replace(/\\\\n/g, '\\n').replace(/\\\\\"/g, '\"') : '';\n  };\n  \n  const extractNum = (field) => {\n    const re = new RegExp('\"' + field + '\"\\\\s*:\\\\s*(\\\\d+)');\n    const m = text.match(re);\n    return m ? parseInt(m[1]) : 10;\n  };\n  \n  const extractArr = (field) => {\n    const re = new RegExp('\"' + field + '\"\\\\s*:\\\\s*\\\\[([^\\\\]]*?)\\\\]');\n    const m = text.match(re);\n    if (!m) return [];\n    return m[1].split(',').map(s => s.trim().replace(/^\"|\"$/g, '')).filter(s => s);\n  };\n  \n  const title = extract('title') || topicData.topicTitle;\n  const content = extract('content') || 'Content generation in progress...';\n  \n  return {\n    json: {\n      topic_id: topicData.topicId,\n      title: title,\n      slug: title.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, ''),\n      subtitle: extract('subtitle'),\n      content: content,\n      excerpt: extract('excerpt') || content.substring(0, 200),\n      meta_description: extract('metaDescription'),\n      author_name: 'AI Content Team',\n      author_avatar: '/avatars/ai-team.jpg',\n      cover_image: '/images/placeholder-article.jpg',\n      reading_time_minutes: extractNum('readingTime'),\n      status: 'published',\n      published_at: new Date().toISOString(),\n      tags: extractArr('tags'),\n      key_takeaways: extractArr('keyTakeaways'),\n      quality_report: { overall_score: 85, readability_score: 80, seo_score: 85, originality_score: 90 }\n    }\n  };\n} catch (e) {\n  console.error('Parse failed:', e.message);\n  throw e;\n}"
      },
      "id": "parse-article",
      "name": "Parse Article Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "save-article",
      "name": "Save Article to Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/article-created",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.article.id }}"
            },
            {
              "name": "title",
              "value": "={{ $json.article.title }}"
            },
            {
              "name": "excerpt",
              "value": "={{ $json.article.excerpt || $json.article.meta_description }}"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-image-gen",
      "name": "Trigger Image Gen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Success response\nconst article = $('Save Article to Database').first().json.article;\n\nreturn {\n  json: {\n    success: true,\n    message: 'Article generated, published, and image generation started',\n    articleId: article.id,\n    articleSlug: article.slug,\n    status: 'published'\n  }\n};"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Error handling\nconst error = $input.first().json;\n\nconsole.error('Content generation failed:', error);\n\nreturn {\n  json: {\n    success: false,\n    error: error.message || 'Unknown error',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        500
      ]
    }
  ],
  "connections": {
    "Webhook - Topic Approved": {
      "main": [
        [
          {
            "node": "Parse Topic Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Topic Data": {
      "main": [
        [
          {
            "node": "Generate Article (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Article (Gemini)": {
      "main": [
        [
          {
            "node": "Parse Article Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Article Response": {
      "main": [
        [
          {
            "node": "Save Article to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Article to Database": {
      "main": [
        [
          {
            "node": "Trigger Image Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Image Gen": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}