fe/n8n-workflows/2-ContentGeneration.json
{
  "name": "Content Generation - On Topic Approval (Linked Image Gen)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "topic-approved",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Topic Approved",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "topic-approved"
    },
    {
      "parameters": {
        "jsCode": "// Extract topic data from webhook\nconst topicData = $input.first().json;\n\nreturn {\n  json: {\n    topicId: topicData.id,\n    topicTitle: topicData.topic_title,\n    topicKeywords: topicData.keywords || [],\n    targetAudience: topicData.target_audience || 'developers',\n    contentType: topicData.content_type || 'tutorial',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "parse-topic",
      "name": "Parse Topic Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=AIzaSyA_LWYIgzVBN00LRimeKfL-KxV19S_Ydxg",
        "authentication": "none",
        "sendQuery": false,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are an expert technical content writer for DevTools Nexus, a site reviewing AI productivity tools for developers.\\n\\nGenerate a comprehensive, SEO-optimized article about: {{ $json.topicTitle }}\\n\\nTarget Audience: {{ $json.targetAudience }}\\nContent Type: {{ $json.contentType }}\\nKeywords: {{ $json.topicKeywords.join(', ') }}\\n\\nIMPORTANT REQUIREMENTS:\\n1. Write approx 1500 words (High Quality over Quantity)\\n2. Use clear headings (H2, H3)\\n3. Include actionable tips and examples\\n4. Add code snippets where relevant\\n5. Maintain professional but friendly tone\\n6. Include pros/cons sections\\n7. Add comparison tables if comparing tools\\n8. Provide step-by-step tutorials\\n9. Include best practices\\n10. End with practical takeaways\\n\\nSTRICT JSON FORMATTING:\\n- Escape all double quotes inside the content string.\\n- Do not output trailing commas.\\n- Ensure the JSON is valid and complete.\\n\\nFormat the response as JSON:\\n{\\n  \\\"title\\\": \\\"Article title (60 chars max)\\\",\\n  \\\"subtitle\\\": \\\"Engaging subtitle (120 chars)\\\",\\n  \\\"content\\\": \\\"Full markdown article content\\\",\\n  \\\"excerpt\\\": \\\"Brief 150-word summary\\\",\\n  \\\"metaDescription\\\": \\\"SEO description (155 chars max)\\\",\\n  \\\"tags\\\": [\\\"tag1\\\", \\\"tag2\\\", \\\"tag3\\\"],\\n  \\\"readingTime\\\": 10,\\n  \\\"keyTakeaways\\\": [\\\"Point 1\\\", \\\"Point 2\\\", \\\"Point 3\\\"]\\n}\\n\\nGenerate high-quality, original content that provides real value to developers.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"topP\": 0.8,\n    \"topK\": 40,\n    \"maxOutputTokens\": 8192,\n    \"responseMimeType\": \"application/json\"\n  }\n}",
        "options": {}
      },
      "id": "generate-article",
      "name": "Generate Article (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 20000
    },
    {
      "parameters": {
        "jsCode": "// SIMPLIFIED ROBUST PARSING\nconst response = $input.first().json;\n\ntry {\n  const rawText = response.candidates[0].content.parts[0].text;\n  \n  // Find the JSON object boundaries\n  const firstOpen = rawText.indexOf('{');\n  const lastClose = rawText.lastIndexOf('}');\n  \n  if (firstOpen === -1 || lastClose === -1) {\n     throw new Error('No JSON found in response');\n  }\n  \n  // Extract only the JSON part\n  const jsonText = rawText.substring(firstOpen, lastClose + 1);\n  \n  // Parse it\n  const article = JSON.parse(jsonText);\n  \n  const topicData = $('Parse Topic Data').first().json;\n  \n  // Normalize and Defaulting\n  return {\n    json: {\n      topic_id: topicData.topicId,\n      title: article.title || topicData.topicTitle,\n      slug: (article.title || topicData.topicTitle).toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, ''),\n      subtitle: article.subtitle || '',\n      content: article.content || '',\n      excerpt: article.excerpt || '',\n      meta_description: article.metaDescription || '',\n      author_name: 'AI Content Team',\n      author_avatar: '/avatars/ai-team.jpg',\n      cover_image: '/images/placeholder-article.jpg',\n      reading_time_minutes: article.readingTime || 10,\n      status: 'pending_review',\n      published_at: null,\n      tags: article.tags || [],\n      key_takeaways: article.keyTakeaways || [],\n      quality_report: {\n        overall_score: 85,\n        readability_score: 80,\n        seo_score: 85,\n        originality_score: 90\n      }\n    }\n  };\n} catch (error) {\n  throw new Error('Parsing Failed: ' + error.message);\n}"
      },
      "id": "parse-article",
      "name": "Parse Article Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.29.102:3000/api/articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "save-article",
      "name": "Save Article to Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/article-created",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.article.id }}"
            },
            {
              "name": "title",
              "value": "={{ $json.article.title }}"
            },
            {
              "name": "excerpt",
              "value": "={{ $json.article.excerpt || $json.article.meta_description }}"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-image-gen",
      "name": "Trigger Image Gen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Success response\nconst article = $('Save Article to Database').first().json.article;\n\nreturn {\n  json: {\n    success: true,\n    message: 'Article generated, saved, and image generation started',\n    articleId: article.id,\n    status: 'pending_review'\n  }\n};"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Error handling\nconst error = $input.first().json;\n\nconsole.error('Content generation failed:', error);\n\nreturn {\n  json: {\n    success: false,\n    error: error.message || 'Unknown error',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        500
      ]
    }
  ],
  "connections": {
    "Webhook - Topic Approved": {
      "main": [
        [
          {
            "node": "Parse Topic Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Topic Data": {
      "main": [
        [
          {
            "node": "Generate Article (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Article (Gemini)": {
      "main": [
        [
          {
            "node": "Parse Article Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Article Response": {
      "main": [
        [
          {
            "node": "Save Article to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Article to Database": {
      "main": [
        [
          {
            "node": "Trigger Image Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Image Gen": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}