fe/n8n-workflows/3-content-generation-fast.json
{
  "name": "Content Generation - Fast & Reliable",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "topic-approved",
        "responseMode": "onReceived"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "topic-approved"
    },
    {
      "parameters": {
        "jsCode": "// Prepare a SHORT prompt for faster generation\nconst input = $input.first().json;\nconst topic = input.body || input;\n\nconst topicTitle = topic.topic_title || 'AI Development Tools';\n\nconst requestBody = {\n  contents: [{\n    parts: [{\n      text: `Write a 500-word article about: ${topicTitle}\n\nInclude:\n- Introduction\n- 3 main points\n- Conclusion\n\nReturn ONLY this JSON (no markdown):\n{\n  \"title\": \"${topicTitle}\",\n  \"content\": \"# Your article here with ## headings\",\n  \"excerpt\": \"Brief summary\",\n  \"tags\": [\"ai\", \"tools\"]\n}`\n    }]\n  }],\n  generationConfig: {\n    temperature: 0.7,\n    maxOutputTokens: 2048\n  }\n};\n\nreturn {\n  json: {\n    topicId: topic.id,\n    topicTitle: topicTitle,\n    requestBody: requestBody\n  }\n};"
      },
      "id": "prepare",
      "name": "Prepare Short Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=AIzaSyBGwcKNfNbtoXApx-TBf5OsmZ8QV1016WE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 120000,
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 2000
          }
        }
      },
      "id": "gemini",
      "name": "Call Gemini (2min timeout)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse and create article\nconst response = $input.first().json;\nconst prepareData = $('Prepare Short Request').first().json;\n\ntry {\n  const generatedText = response.candidates[0].content.parts[0].text;\n  let cleanText = generatedText.trim().replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n  \n  const article = JSON.parse(cleanText);\n  \n  return {\n    json: {\n      topic_id: prepareData.topicId,\n      title: article.title,\n      slug: article.title.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, ''),\n      subtitle: prepareData.topicTitle,\n      content: article.content,\n      excerpt: article.excerpt || article.content.substring(0, 200),\n      meta_description: article.excerpt || article.content.substring(0, 155),\n      author_name: 'AI Content Team',\n      author_avatar: '/avatars/ai-team.jpg',\n      cover_image: '/images/placeholder-article.jpg',\n      reading_time_minutes: 5,\n      status: 'pending_review',\n      tags: article.tags || ['ai', 'tools'],\n      key_takeaways: ['Generated by AI', 'Review and edit before publishing'],\n      quality_report: {\n        overall_score: 75,\n        readability_score: 75,\n        seo_score: 75,\n        originality_score: 80,\n        technical_accuracy: 75,\n        engagement_score: 75\n      }\n    }\n  };\n} catch (error) {\n  console.error('Parse error:', error.message);\n  // Fallback: create article even if JSON parsing fails\n  const generatedText = response.candidates?.[0]?.content?.parts?.[0]?.text || 'Error generating content';\n  return {\n    json: {\n      topic_id: prepareData.topicId,\n      title: prepareData.topicTitle,\n      slug: prepareData.topicTitle.toLowerCase().replace(/[^a-z0-9]+/g, '-'),\n      subtitle: 'AI Generated Content',\n      content: generatedText,\n      excerpt: generatedText.substring(0, 200),\n      meta_description: generatedText.substring(0, 155),\n      author_name: 'AI Content Team',\n      author_avatar: '/avatars/ai-team.jpg',\n      cover_image: '/images/placeholder-article.jpg',\n      reading_time_minutes: 5,\n      status: 'pending_review',\n      tags: ['ai', 'draft'],\n      key_takeaways: ['Needs editing'],\n      quality_report: {\n        overall_score: 60,\n        readability_score: 60,\n        seo_score: 60,\n        originality_score: 70,\n        technical_accuracy: 60,\n        engagement_score: 60\n      }\n    }\n  };\n}"
      },
      "id": "parse",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3002/api/articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "save",
      "name": "Save to Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconsole.log('✅ Article saved! ID:', result.id);\nreturn {\n  json: {\n    success: true,\n    message: 'Article generated and saved!',\n    articleId: result.id,\n    title: result.title\n  }\n};"
      },
      "id": "success",
      "name": "Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Prepare Short Request", "type": "main", "index": 0}]]
    },
    "Prepare Short Request": {
      "main": [[{"node": "Call Gemini (2min timeout)", "type": "main", "index": 0}]]
    },
    "Call Gemini (2min timeout)": {
      "main": [[{"node": "Parse Response", "type": "main", "index": 0}]]
    },
    "Parse Response": {
      "main": [[{"node": "Save to Database", "type": "main", "index": 0}]]
    },
    "Save to Database": {
      "main": [[{"node": "Success", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": []
}
